body.login{
    background-image: url(/img/homebg.jpg);
    
}
body.current{
    background-image: url(/img/brewer.jpg);
    background-size: cover;

}

#log {
    position: fixed;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 10%;
    width: 50%;
    padding: 20px;
}
#signDisplay {
    position: fixed;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 10%;
    width: 50%;
    padding: 20px;
}
#addBrewery{
    margin-top: 10px;

}

.btn-primary{
    margin-top: 10px;
    margin-bottom: 10px;
}

.backgroundTwo{
    width: 100%;
}

.homePage{
    margin-top: 10%;
    margin-left: 10%;
    
}

#welcome{
    font-family: 'Bitter', serif;
    font-style: italic;
    font-size: 75px;
}
#addBeers{
    font-family: 'Bitter', serif;
    font-style: italic;
    font-size: 35px;
}
#textDsiplay{
    font-size: 20px;
}
.beerDisplay{
    margin: 10%;
}
.breweryDisplay{
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;

}
.title{
    font-family: 'Bitter', serif;
}

.addBrewery {
    margin-left: 25px;
}

#newBeer {
    margin-left: 25px;
}