/* Sets background image */
body.login{
    background-image: url(/img/homebg.jpg);
    
}
body.current{
    background-image: url(/img/brewer.jpg);
    background-size: cover;
}

/* Targets log in page */
#log {
    position: fixed;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 10%;
    width: 50%;
    padding: 20px;
}

/* targets sign in form */
#signDisplay {
    position: fixed;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 10%;
    width: 50%;
    padding: 20px;
}

/* targets all buttons in fields */
.btn-primary{
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Home Page */
.homePage{
    margin-top: 10%;
    margin-left: 10%;
    
}
#welcome{
    font-family: 'Bitter', serif;
    font-style: italic;
    font-size: 75px;
}
#homeP{
    font-family: 'Bitter', serif;
    font-size: large;
}
#drink{
    font-family: 'Bitter', serif;
    text-align: center;
    font-style: italic;
    font-size: 50px;
}

/* Title name for addbeers/addbreweries */
#addBeers{
    font-family: 'Bitter', serif;
    font-style: italic;
    font-size: 35px;
}
#addBrewery{
    margin-top: 10px;
}
.addDiv{
    margin-left: 10%;
    margin-top: 10%;
    border-style: groove;
}

/* targeting table in beers/brewery */
#textDisplay{
    font-size: 20px;
}
.title{
    font-family: 'Bitter', serif;
}
.beerDisplay{
    margin: 10%;
}
.breweryDisplay{
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
}

