#log {
    position: fixed;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 10%;
    width: 500px;
   
}

.btn-primary{
    margin-top: 10px;
    margin-bottom: 10px;
}

.backgroundTwo{
    width: 100%;
}
body{

    margin-top: 20%;
    margin-left: 30%;
    margin-right: 30%;
    padding: 10px;
    border-style: groove;
}
/* .current {
    background-image: url("/public/img/brewer.jpg");
    margin: 100%;
}
.login{
    background-image: url("/public/img/brewer.jpg");
    margin: 100%;
} */
