extends allForms

block content
  #add-beer
    form(action="POST", method="/api/beer")
    .form.group.name
      label(for='name') Beer Name:
      input#beerName.form-control(type='text', placeholder='Beer Name', name='name')
    .form.group.description
      label(for='description') Description of Beer:
      input#beerName.form-control(type='text', placeholder='Has lime undertones', name='description')
    .form.group.abv
      label(for='ABV') Beer ABV:
      input#beerName.form-control(type='text', placeholder='6.5%', name='ABV')
    .form.group.ibu
      label(for='IBU') Beer IBU:
      input#beerName.form-control(type='text', placeholder='10', name='IBU')
    .form.group.beerType
      label(for='beerType') Beer Type:
      input#beerName.form-control(type='text', placeholder='Pale Ale', name='beerType')
    
    button.btn.btn-primary.w3-btn.w3-black(type='submit') Add Beer