extends layout
block content
  .breweryDisplay
    dl.w3-table.w3-striped.w3-bordered
      each val, index in breweries
        dt.title= 'Brewery: ' + val.name
        dt= 'Address: ' + val.address
        dt= 'Phone Number: ' + val.phoneNumber
        p