extends layout

block content
  .homePage
    h2#pageName Alewery
    h1#welcome Welcome
      h3#welcome Have fun with beer!
    p#homeP
      | This site will help you navigate to the beer you want, find what is available at YOUR local breweries.
    p#homeP  
      | To all local breweries sign up now and get exposure to all the locals looking for their next hop!
    p#drink
      | Drink responsibly!
