extends layout

block content
  .homePage
    h2#pageName Alewery
    h1#welcome Welcome
      h3#welcome Have fun with beer!
    p#homeP
      | This site will help you navigate all your beer dreams! One site with beers available at the Breweries you are looking for!
    p#homeP  
      |   To the breweries sign up now and get your information easily accessible by all!
    p#drink
      | Drink responsibly!
