doctype html 
html
  head
    title=ProjectTitle

    link(rel='stylesheet', href='/style/style.css')
    meta(name='viewpoint' content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://www.w3schools.com/w3css/4/w3.css')

  body(class=`${className}`)
    nav.w3-bar.w3.border.w3-round.w3-light-grey( role="navigation" )
      .wrapclassnav
      .w3-bar-item Name of Project
      if locals.user
       a(href="/").w3-bar-item.w3-button.w3-bottombar.w3-hover-border-blue Home
       a(href="/beers/add").w3-bar-button.w3-button Beers
       a(href="/brewery/add").w3-bar-button.w3-button Brewery
       a(id="qsLogoutBtn" href="/logout").w3-bar-item.w3-button Log Out
      else
       a(href="/").w3-bar-item.w3-button.w3-bottombar.w3-hover-border-blue Home
       a(href="/beers").w3-bar-item.w3-button.w3-bottombar.w3-hover-border-blue Beers
       a(href="/brewery").w3-bar-item.w3-button.w3-bottombar.w3-hover-border-blue Brewery
       a(href="/api/signup").w3-bar-item.w3-button.w3-bottombar.w3-hover-border-blue Sign Up
       a(id="qsLoginBtn" href="/login").w3-bar-item.w3-button.w3-bottombar.w3-hover-border-blue.w3-right Log In
    block content

    script(src="https://code.jquery.com/jquery.js")
    script(src="https://code.jquery.com/jquery-3.4.0.min.js" integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=" crossorigin="anonymous")
    script(src="/public/js/beerform.js")
