extends allForms

block content
    .main-container
      img(src="/img/brewer.jpg", alt="Brewery", class="logIn")
    .w34.w3-left.welcome
    h1 Welcome #{user.email}

block content
  form(action="POST", method="/api/signup")
  .form.group.email
    label(for='email') Email:
    input#beerName.form-control(type='text', placeholder='name@test.com', name='email')
  .form.group.password
    label(for='password') Password:
    input#beerName.form-control(type='text', placeholder='Secret!', name='password')
  
  button.btn.btn-primary.w3-btn.w3-black(type='submit') Sign Up

  

