extends allForms

block content
    .signUp
      form(id="signUp")
        .form.group.email
          label(for='email') Email:
          input#beerName.form-control(type='text', placeholder='name@test.com', name='email')
        .form.group.password
          label(for='password') Password:
          input#beerName.form-control(type='text', placeholder='Secret!', name='password')
      button.btn.btn-primary.w3-btn.w3-black#signUp(type='submit') Sign Up

  

