extends allForms

block content
    .signUp
      
      form.w3-panel.w3-border#signDisplay
        h1.title Sign Up Here
        .form.group.email
          label(for='email') Email:
          input#email.form-control.w3-input(type='text', placeholder='name@test.com', name='email')
        .form.group.password
          label(for='password') Password:
          input#password.form-control.w3-input(type='text', placeholder='Secret!', name='password')
        button.btn.btn-primary.w3-btn.w3-black#signUp(type='submit') Sign Up

  

